.header
{
    padding: 2rem 0;
    border-bottom: 1px solid $clr-teal;
    z-index: 999;

    &__logo{ 
      img{
        width: 7rem;
        height: 3rem;
      }
        h2 span {
            color: $clr-teal;
        }
    }
    nav ul li a{
    color: $clr-white;
    font-size: 1.1rem;
    padding: 2rem;

}
}
